/* Reset default margins and paddings */

*{
    margin: 0;
    padding: 0;
  }
  

  header {
    background-color: #333;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-left: 630px ;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 1rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  h1{
    margin-bottom: 20px;
  }
  
  section:nth-child(even) {
    background-color: #dedcdc;
  }
  
  
  section img {
    width: 100%;
    max-width: 500px; 
    display: block;
    margin: 0 auto;
    border: 5px solid #fff; 
    border-radius: 10px; 
  }
  

  form input[type="text"],
  form input[type="tel"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .pizzas{
    display: flex;
  }
  form button {
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style the footer */
  footer {
    background-color: #333;
    padding: 1rem;
    color: white;
    text-align: center;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer ul li {
    display: inline-block;
    margin-right: 1rem;
  }
  
  footer ul li a {
    color: white;
    text-decoration: none;
  }
  
  /* Add some cool elements to the footer */
  footer p {
    margin-bottom: 0.5rem;
    font-size: 18px;
  }
  
  footer p:last-child {
    margin-top: 0.5rem;
    font-size: 14px;
  }
  